@charset 'UTF-8';

*{
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}
html{
  width: 100%;
  background-color: #f1f1f1;
}
body{
  width: 100%;
  min-width: 1400px;
  background-color: #f1f1f1;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.content-width{
  width: 1400px;
  margin: 0 auto;
}
.content-min-width{
  min-width: 1400px;
}
.box_shadow_small{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.cursor_point{
  cursor: pointer;
}
.cps_orange{
  color: #f07c00!important;
}
.cps_bg_orange{
  background-color: #f07c00!important;
}
.cps_bg_color{
  background-color: #f1f1f1!important;
}
.fff_bg_color{
  background-color: #fff!important;
}
.fff_color{
  color: #fff!important;
}
.fl {
  display: inline-block;
  float: left;
}
.fr {
  display: inline-block;
  float: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.font-bold{
  font-weight: bold;
}
/*自定义表格样式*/
table.customize{
  border-top: 1px solid #e0e6ed;
  border-left: 1px solid #e0e6ed;
}
table.customize td, table.customize th{
  height: 40px;
  border-right: 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
table.customize th{
  background-color: #f7f7f7;
}

/*覆盖animate.css*/
.animated.fadeIn,
.animated.fadeOut,
.animated.bounceOutRight
{
  animation-duration: .3s;
}

/*覆盖element-ui样式*/
/*input输入框样式覆盖*/
.el-textarea__inner:focus{
  border-color: #c8c8c8;
}
.el-input__inner{
  height: 28px;
  border-color: #c8c8c8;
}
.el-input__inner::-webkit-input-placeholder {
	color: #c8c8c8
}
.el-input__inner::-moz-placeholder {
	color: #c8c8c8
}
.el-input__inner:-ms-input-placeholder {
	color: #c8c8c8
}
.el-input__inner::placeholder {
	color: #c8c8c8
}
.el-select .el-input .el-input__icon{
  color: #c8c8c8;
}
.el-select .el-input__inner:focus,.el-input__inner:focus{
  border-color: #c8c8c8;
}
/*input计步器输入框样式覆盖*/
.el-input-number__decrease, .el-input-number__increase{
  line-height: 26px;
}
.el-input-number__decrease:hover, .el-input-number__increase:hover{
  color: #f07c00;
}
.el-input.is-active .el-input__inner{
  border-color: #c8c8c8;
}
/*Radio 单选框样式覆盖*/
.el-radio__inner.is-checked {
  border-color: #f07c00;
  background: #f07c00;
}
.el-radio__inner:not(.is-disabled):hover {
  border-color: #f07c00;
}
/*导出input输入框样式覆盖*/
.bar-head .export-div .el-input__inner{
  width: 120px;
  border-color: #f07c00;
  color: #f07c00;
}
.bar-head .export-div .el-input__inner::-webkit-input-placeholder{
  color: #f07c00;
}
.bar-head .export-div .el-input__inner::-moz-placeholder{
  color: #f07c00;
}
.bar-head .export-div .el-input__inner:-ms-input-placeholder{
  color: #f07c00;
}
.bar-head .export-div .el-input__inner::placeholder{
  color: #f07c00;
}
.bar-head .export-div .el-select .el-input .el-input__icon{
  color: #f07c00;
}
/*日期选择器input输入框样式覆盖*/
.el-date-table td.today{
  color: #f07c00;
}
.el-date-table td.current, .el-date-table td.end-date, .el-date-table td.start-date{
  color: #fff;
  background-color: #f07c00!important;
}
.el-date-editor.is-active>.el-date-editor__editor{
  height: 28px;
  border-color: #c8c8c8;
}
.el-date-editor.is-active>.el-date-editor__editor::-webkit-input-placeholder {
	color: #c8c8c8
}
.el-date-editor.is-active>.el-date-editor__editor::-moz-placeholder {
	color: #c8c8c8
}
.el-date-editor.is-active>.el-date-editor__editor:-ms-input-placeholder {
	color: #c8c8c8
}
.el-date-editor.is-active>.el-date-editor__editor::placeholder {
	color: #c8c8c8
}
.el-date-editor__trigger.el-icon{
  color: #c8c8c8;
}
.el-date-editor__editor:focus{
  border-color: #c8c8c8;
}
.el-date-editor{
  height: 28px;
}
.el-date-editor:hover>.el-date-editor__editor{
  border-color: #c8c8c8;
}
.el-date-editor:focus,.el-date-editor:hover{
  border-color: #c8c8c8;
}
.el-date-editor__editor{
  height: 28px;
}
.el-date-editor__editor::-webkit-input-placeholder {
	color: #c8c8c8
}
.el-date-editor__editor::-moz-placeholder {
	color: #c8c8c8
}
.el-date-editor__editor:-ms-input-placeholder {
	color: #c8c8c8
}
.el-date-editor__editor::placeholder {
	color: #c8c8c8
}
.el-date-editor__trigger.el-icon{
  line-height: 30px;
}
/*table标题背景样式覆盖*/
/*.main-table>.table-content .el-table th {
  background-color: #f7f7f7;
}
.main-table>.table-content .el-table__header-wrapper thead div {
  background-color: #f7f7f7;
}*/
/*分页样式覆盖*/
.el-pager li:hover {
  color: #f07c00;
}
.el-pager li.active {
  border-color: #f07c00;
  background-color: #f07c00;
  color: #fff;
  cursor: default;
}
/*上传组件样式覆盖*/
.adv table.add-table .el-upload{
  overflow: hidden;
}
.adv table.add-table .el-upload__inner{
  float: left;
  display: inline-block;
}
